.main {
    display: flex;
    background: linear-gradient(to right, #eef1f6, #ffffff); /* Change the colors as per your preference */
    min-height: 100vh; /* This makes sure the gradient background covers the full height of the viewport */ 
}